:root {
  --bgBody:#FFFFFF;
  --colorBody:#2699FB;

  /* Header */
  --bgLogo:#BCE0FD;
  --bgPrincipal:#2699FB;
  --bgSecundario:#7FC4FD;
  --bgBadge:#E8F3FF;
  --colorBadge:#2699FB;
  --colorHeader:#FFFFFF;


  /* Footer */
  --bgFooter:#2699FB;
  --colorFooter:#FFFFFF; 
  --bgLoginFooter:#FFFFFF;
  --colorLoginFooter:#869095;

  /* Login */
  --bgLogin:#233D5B;
  --bgLoginForm1:#D13F99;
  --bgLoginForm2:#F5F5F8;
  --bgLoginInput:#E2EDF2;
  --colorLoginInput:#869095;
  --bgLoginButton:#64E0BF;
  --colorLoginButton:#FFFFFF;

  /* Inputs */
  --bgInput:#E2EDF2;
  --colorInput:#869095;
  /**Roboto Bold 20***/

  /* Inputs */
  --colorLink:#03A7FD;

  /* Hero */
  --bgHero:#C3D3E5;
  --bgHeroCat:#B2C4D8;
  --bgHeroCat2:#AABDD3;
  --bgHeroCatHover:#1D3857;
  --colorHeroCat:#FFFFFF;

  /* Section */
  --colorSectionTitle:#000000;
  --bgSection:#DDEAF2;
  --bgSection2:#C3D3E5;

  /* Categorias */
  --colorCategorias:#000000;
  --bgCategorias:#DDEAF2;
  --bgCategorias2:#C3D3E5;
  --bgCategorias3:#AABDD3;

  /* Artículos */
  --bgCard:#C3D3E5;
  --colorCard:#FFFFFF;
  --bgCardButton:#C3D3E5;
  --colorCardButton:#FFFFFF;

  /* Detalle */
  --bgDetalle:#DDEAF2;
  --colorDetalle:#000000;
  --bgDetalleButton:#DDEAF2;
  --colorDetalleButton:#FFFFFF;

  /* Detalle */
  --bgColor1:#C3D3E5;
  --bgColor2:#DDEAF2;
  --colorSec:#000000;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}

body{
  min-height: 100vh;
  background-color: var(--bgBody);
  position: relative;
}

.contenedor{
  min-height: calc(100vh);
  padding-top: calc(83px + 0px);
  padding-bottom: 54px;
}

/*** Titulos de seccion ***/
.page-title{
  background-color: var(--bgSection);
  margin: 0px;
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
}
.page-title{
  background-color: var(--bgSection2);
}
.page-title p{
  font-size: 24px;
  font-weight: bold;
  color: var(--colorSectionTitle);
  margin-bottom: 15px;
}

/*** Hero ***/
.hero{
  position: relative;
  display: flex;
  margin-bottom: 30px;
  min-height: 400px;
  background-color: var(--bgCard);
}
.hero>.carousel{
  width: 70%;
  flex: 1 70%;
}
.hero>.carousel .art p,
.hero>.carousel .art .art-actions{
  text-align: left;
}
.hero>.categorias{
  width: 30%;
  flex: 1 30%;
}
.categorias .cat{
  height: 33.3%;
  padding: 0px;
  margin: 0px;
  background-color: var(--bgHeroCat);
  color: var(--colorHeroCat);
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 20px;
  position: relative;
  cursor: pointer;
}
.categorias .cat:nth-child(2){
  background-color: var(--bgHeroCat2);
}
.categorias .cat:hover{
  background-color: var(--bgHeroCatHover);
}
.categorias .cat p{
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
}


/*Elemento*/
.elemento{
  margin: 0px auto;
  padding: 40px;
}
.elemento.destacado{
  padding: 40px;
  background-color: var(--bgSection);
}
.elemento > .wrap{
  max-width: 1200px;
  display: block;
  margin: 0px auto;
}
.elemento p.titulo{
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  color: var(--colorSectionTitle);
}

/*Artículo miniatura*/


/* Artículos */
.art{
  width: 100%;
  padding: 15px;
  background-color: var(--bgCard);
  color: var(--colorCard);
  margin-bottom: 30px;
}
.elemento.art .art{
  margin-bottom: 0px;
}
.art > a{
  height: auto;
  text-decoration: none;
}
.art > a:hover{
  height: auto;
  text-decoration: none;
}
.miniatura .art{
  width: 100%;
  padding: 0px;
}
.art img{
  width: 100%;
  display: block;
  margin: 0px auto;
}
.art.doble img{
  width: 56%;
}
.art .art-info{
  margin-top: 15px;
}
.art p{
  text-align: center;
  margin-bottom: 10px;
}
.elemento.art p{
  text-align: left;
  margin-bottom: 10px;
}
.art .art-titulo{
  font-size: 15px;
  font-weight: normal;
  font-weight: bold;
  color: var(--colorCard);
  text-overflow: ellipsis;
  display: block;
}
.elemento.art .art .art-titulo{
  font-size: 20px;
  font-weight: bold;
}
.art .art-descripcion{
  font-size: 15px;
  font-weight: normal;
  font-weight: bold;
  color: var(--colorCard);
  text-overflow: ellipsis;
  display: block;
}
.elemento.art .art .art-descripcion{
  font-size: 16px;
  font-weight: normal;
}
.art .art-titulo {
  --lh: 22.5px;
  --max-lines: 3;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  max-height: 67.5px;
  overflow: hidden;
}
.art .art-mlg{
  font-size: 13px;
  font-weight: normal;
  color: var(--colorCard);
}
.elemento.art .art .art-mlg{
  font-size: 16px;
}
.art .art-pts{
  font-size: 15px;
  font-weight: bold;
  color: var(--colorCard);
}
.elemento.art .art .art-pts{
  font-size: 20px;
}
.art-actions{
  width: auto;
  text-align: center;
}
.elemento.art .art-actions{
  width: auto;
  text-align: left;
}
.art-actions .btn-add{
  padding: 6px 15px;
  color: var(--colorCard);
  text-decoration: none;
  border-radius: 4px;
  padding: 4px 10px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  display: inline-block;
  position: relative;
  top: 0px;

  margin-bottom: 10px;
}
.art-actions .btn-fav{
  width: 31px;
  height: 31px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  padding: 5px;
  position: relative;
  top: 0px;
}
.art-actions .btn-fav > span{
  background-image: url('../img/svg/heart.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  min-width: 25px;
  height: 25px;
  min-height: 25px;
  position: relative;
  top: 6px;
}
.art.added .art-actions .btn-fav > span{
  background-image: url('../img/svg/heart-full.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.login-wrap{
  position: absolute;
}
/***Login***/
.bg-login{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 55%;
  background-color: var(--bgLogin);
}
.login-wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  width: 90%;
  max-width: 400px;
}
.login-wrap .datos{
  padding: 30px;
}
.logo{
  background-color: var(--bgLoginForm1);
  padding: 40px;
}
.logo img{
  width: 80%;
  max-width: 300px;
  margin: 0px auto;
  display: block;
}

.datos{
  background-color: var(--bgLoginForm2);
}
.datos input{
  width: 100%;
  background-color: var(--bgLoginInput);
  border: 0px none;
  color: var(--colorLoginInput);
  font-size: 14px;
  font-weight: bold;
  padding: 6px 15px;
  display: block;
  margin: 0px auto 30px;
}
.datos input[type=button]{
  width: auto;
  max-width: 100%;
  background-color: var(--bgLoginButton);
  border: 0px none;
  color: var(--colorLoginButton);
  font-size: 14px;
  font-weight: bold;
  padding: 6px 30px;
  display: block;
  margin: 0px auto 30px;
}
.datos a{
  width: auto;
  max-width: 100%;
  text-align: center;
  border: 0px none;
  color: var(--colorLink)!important;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 30px;
  display: block;
  margin: 0px auto;
}


.datos input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--colorLoginInput)!important;
}
.datos input::-moz-placeholder { /* Firefox 19+ */
  color: var(--colorLoginInput)!important;
}
.datos input:-ms-input-placeholder { /* IE 10+ */
  color: var(--colorLoginInput)!important;
}
.datos input:-moz-placeholder { /* Firefox 18- */
  color: var(--colorLoginInput)!important;
}


/*Inputs*/

select{
  width: 100%;
  background-color: var(--bgLoginInput);
  border: 0px none;
  color: var(--colorLoginInput);
  font-size: 14px;
  font-weight: bold;
  padding: 6px 15px;
  display: block;
  margin: 0px auto 30px;
}

/*Catálogo*/
.elemento.ordenar{
  padding-bottom: 0px;
}
.filtro {
  display: block;
  text-align: right;
}
.filtro > img{
  display: inline-block;
  width: 35px;
  margin-right: 20px;

}
.filtro > select{
  display: inline-block;
  max-width: 180px;
  width: 100%;
  margin-bottom: 0px;
}

/* Detalle de producto*/

.detalle{
  width: 100%;
  padding: 15px;
  background-color: var(--bgDetalle);
  color: var(--colorDetalle);
  margin-bottom: 30px;
}
.detalle .art{
  width: 100%;
  padding: 15px;
  background-color: var(--bgDetalle);
  color: var(--colorDetalle);
  margin-bottom: 0px;
}
.detalle .art p{
  text-align: left;
}
.detalle .art .art-titulo{
  font-size: 28px;
  color: var(--colorDetalle);
  max-height: none;
}

.detalle .art .art-descripcion{
  color: var(--colorDetalle);
  margin-bottom: 30px;
}
.detalle .art .art-mlg{
  font-size: 28px;
  color: var(--colorDetalle);
}
.detalle .art .art-pts{
  font-size: 28px;
  color: var(--colorDetalle);
}
.detalle .art-actions .btn-add{
  color: var(--colorDetalleButton);
}
.detalle .art-actions{
  text-align: left;
}
.atributo{
  font-size: 16px;
  font-weight: bold;
}
.atributo ul{
  list-style: none;
  padding: 0px;
  text-align: center;
}
.atributo ul li{
  height: 25px;
  min-width: 25px;
  text-align: center;
  display: inline-block;
  border: 1px solid #ffffff;
  background: #ffffff;
  margin: 0px;
  padding: 5px 2px;
  cursor: pointer;
  color: var(--colorBody);
  font-size: 10px;
}
.atributo ul li.active,
.atributo ul li:hover{
  border: 1px solid #ff8c6a;

}
.colores ul li.c-0{
  background: #C84EDE;  
}
.colores ul li.c-1{
  background: #B52323;  
}
.colores ul li.c-2{
  background: #52BC8B;  
}
.colores ul li.c-3{
  background: #3F8DD0;  
}
.colores ul li.c-4{
  background: #FFF72F;  
}

.art-disclaimer{
  margin-top: 60px;
  font-size: 12px; 
}
/*Categorias*/
.categorias{
  background-color: var(--bgCategorias);
  color: var(--colorCategorias);
  padding: 30px 0px;
}
.categorias p{
  padding: 0px 30px;
}
.categorias ul{
  list-style: none;
  padding: 0px;
}
.categorias ul li{
  padding:5px 30px;
  cursor: pointer; 
}
.categorias ul li span{
  width: calc(100% + 60px);
  margin: -30px;
  padding: 30px;
  display: block;
}
.categorias ul li:hover{
  background-color: var(--bgCategorias2);
}
.categorias ul li li:hover{
  background-color: var(--bgCategorias3);
}
.categorias > ul > li{
  background-image: url('../img/svg/caret-down.svg');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 13px;
}
.categorias > ul > li.expand{
  background-image: url('../img/svg/caret-up.svg');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 13px;
}
.categorias > ul > li> ul{
  display: none;
  margin: 0px -30px;
}
.categorias > ul > li> ul > li{
  padding: 5px 30px 5px 45px;
}


/*Mecánica*/

.elemento .sec1>.col-sm-6:nth-child(1),
.elemento .sec2>.col-sm-6:nth-child(2){
  background-color: var(--bgColor1);
}
.elemento .sec1>.col-sm-6:nth-child(2),
.elemento .sec2>.col-sm-6:nth-child(1){
  background-color: var(--bgColor2);
}
.sec-titulo{
  font-size: 18px;
  font-weight: bold;
  color:  var(--colorSec);
}
.sec-texto{
  font-size: 16px;
  color:  var(--colorSec);
}
.page-title .sec-texto{
  font-size: 16px;
  font-weight: normal;
  color:  var(--colorSec);
}
.sec-texto a{
  font-size: 16px;
  cursor: pointer;
  color:  var(--colorSec);
}
.center .sec-titulo{
  text-align: center!important;
}
.center .sec-texto{
  text-align: center!important;
}


/*FAQS*/

.faq ul{
  list-style: none;
  padding: 0px;
}
.faq ul li{
  padding:5px 30px;
  cursor: pointer; 
}
.faq ul li span{
  width: calc(100% + 60px);
  margin: -30px;
  padding: 30px;
  display: block;
}
.faq ul li:hover{
  background-color: var(--bgCategorias2);
}
.faq ul li li:hover{
  background-color: var(--bgCategorias3);
}
.faq > ul > li{
  background-image: url('../img/svg/caret-down.svg');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 13px;
}
.faq > ul > li.expand{
  background-image: url('../img/svg/caret-up.svg');
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 13px;
}






































